html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.popover {
  font-size: 75%;
  white-space: pre-wrap;
}


/* Assuming you have a header and footer with a combined height of 100px */
.table-container {
  overflow-y: auto;
  height: calc(100vh - 10rem);
  /* Subtract the height of other elements */
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  /* Set your desired background color */
}

/* .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
